In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv("walmart-sales.csv")

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,...,Rating,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,1/5/2019,13:08,...,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,226-31-3081,A,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3/8/2019,10:29,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,3/3/2019,13:23,...,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123-19-1176,B,Yangon,Member,Male,Health and beauty,58.22,8.0,1/27/2019,20:33,...,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,373-73-7910,C,Yangon,Normal,Male,Sports and travel,86.31,7.0,2/8/2019,10:37,...,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   float64
 8   Date           1000 non-null   object
 9   Time           1000 non-null   object
 10  Payment        1000 non-null   object
 11  Rating         1000 non-null   float64
 12  Unnamed: 12    0 non-null      float64
 13  Unnamed: 13    0 non-null      float64
 14  Unnamed: 14    0 non-null      float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
 17  Unnamed: 17    0 non-null      float64
 18  Unnamed: 18    0 non-null      float64
 19  Unnamed: 19    0 non-null      float64
 20  Unnamed: 20    0 non-null      float64
dtypes: float64(12), object(9)
memory usage: 164.5+ KB

In [5]:
# Drop unnamed columns
d = df.drop(df.filter(like='^Unnamed'), axis=1,inplace=True)

In [6]:
df.describe

<bound method NDFrame.describe of        Invoice ID Branch       City Customer type  Gender  \
0     750-67-8428      A     Yangon        Member  Female
1     226-31-3081      A  Naypyitaw        Normal  Female
2     631-41-3108      A     Yangon        Normal    Male
3     123-19-1176      B     Yangon        Member    Male
4     373-73-7910      C     Yangon        Normal    Male
...           ...    ...        ...           ...     ...
997   727-02-1313      A     Yangon        Member    Male
998   347-56-2442      B     Yangon        Normal    Male
999   849-09-3807      C     Yangon        Member  Female
1000          NaN    NaN        NaN           NaN     NaN
1001          NaN    NaN        NaN           NaN     NaN

                Product line  Unit price  Quantity       Date   Time  ...  \
0          Health and beauty       74.69       7.0   1/5/2019  13:08  ...
1     Electronic accessories       15.28       5.0   3/8/2019  10:29  ...
2         Home and lifestyle       46.33       7.0   3/3/2019  13:23  ...
3          Health and beauty       58.22       8.0  1/27/2019  20:33  ...
4          Sports and travel       86.31       7.0   2/8/2019  10:37  ...
...                      ...         ...       ...        ...    ...  ...
997       Food and beverages       31.84       1.0   2/9/2019  13:22  ...
998       Home and lifestyle       65.82       1.0  2/22/2019  15:33  ...
999      Fashion accessories       88.34       7.0  2/18/2019  13:28  ...
1000                     NaN         NaN       NaN        NaN    NaN  ...
1001                     NaN         NaN       NaN        NaN    NaN  ...

     Rating  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0       9.1          NaN          NaN          NaN          NaN          NaN
1       9.6          NaN          NaN          NaN          NaN          NaN
2       7.4          NaN          NaN          NaN          NaN          NaN
3       8.4          NaN          NaN          NaN          NaN          NaN
4       5.3          NaN          NaN          NaN          NaN          NaN
...     ...          ...          ...          ...          ...          ...
997     7.7          NaN          NaN          NaN          NaN          NaN
998     4.1          NaN          NaN          NaN          NaN          NaN
999     6.6          NaN          NaN          NaN          NaN          NaN
1000    NaN          NaN          NaN          NaN          NaN          NaN
1001    NaN          NaN          NaN          NaN          NaN          NaN

      Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20
0             NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN
...           ...          ...          ...          ...
997           NaN          NaN          NaN          NaN
998           NaN          NaN          NaN          NaN
999           NaN          NaN          NaN          NaN
1000          NaN          NaN          NaN          NaN
1001          NaN          NaN          NaN          NaN

[1002 rows x 21 columns]>

In [7]:
df.shape

(1002, 21)

In [8]:
df.size

21042

In [9]:
df.duplicated().sum()

1

In [10]:
df.isnull().sum()

Invoice ID          2
Branch              2
City                2
Customer type       2
Gender              2
Product line        2
Unit price          2
Quantity            2
Date                2
Time                2
Payment             2
Rating              2
Unnamed: 12      1002
Unnamed: 13      1002
Unnamed: 14      1002
Unnamed: 15      1002
Unnamed: 16      1002
Unnamed: 17      1002
Unnamed: 18      1002
Unnamed: 19      1002
Unnamed: 20      1002
dtype: int64

In [11]:
# Check columns after dropping
print(df.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [12]:
data = {'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'}
d1 = pd.DataFrame(data)
# Column name to remove
column_to_remove = {'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'}

# Remove the column using drop method
d1 = df.drop(column_to_remove, axis=1,inplace=True)
print(d1)

None

In [13]:
df.corr(numeric_only=True)

            Unit price  Quantity    Rating
Unit price    1.000000  0.010778 -0.008778
Quantity      0.010778  1.000000 -0.015815
Rating       -0.008778 -0.015815  1.000000

In [29]:
# Extract unique cities and branches
unique_cities = df['City'].unique()
unique_branches = df['Branch'].unique()
unit_price=df['Unit price'].unique()
Quant=df['Quantity'].unique()

In [38]:

# Calculate revenue and number of sales for each branch
revenue_data = df.groupby(['Branch', 'City']).agg({'Unit price': ['sum']})
# Print the data
print(revenue_data)
# Calculate revenue and number of sales for each branch
sales_data = df.groupby([ 'Quantity']).agg({'Unit price': ['sum']})
# Print the data
print(sales_data)

                 Unit price
                        sum
Branch City
A      Mandalay     6349.11
       Naypyitaw    5953.55
       Yangon       6342.88
B      Mandalay     6623.73
       Naypyitaw    6298.64
       Yangon       6329.25
C      Mandalay     5506.04
       Naypyitaw    6315.57
       Yangon       5953.36
         Unit price
                sum
Quantity
1.0         6135.57
2.0         5235.62
3.0         5105.30
4.0         6011.41
5.0         5152.65
6.0         5469.08
7.0         5940.77
8.0         4799.56
9.0         5162.27
10.0        6659.90

In [54]:
d = pd.DataFrame(df)
d['Sales'] = df['sales_data']
d['Revenue'] = df['revenue_data']
d['Sales'] = df['Branch'].map(sales_data)
d['Revenue'] = df['Branch'].map(revenue_data)

print(d)

KeyError: 'sales_data'

In [46]:

city_branch_sales = df.groupby(['City', 'Branch'])['Sales'].sum().reset_index()
city_branch_revenue = df.groupby(['City', 'Branch'])['Revenue'].sum().reset_index()

plt.figure(figsize=(10, 6))
sns.barplot(x='City', y='Sales', hue='Branch', data=city_branch_sales, palette='muted')
plt.title('Sales by City and Branch')
plt.xlabel('City')
plt.ylabel('Sales')
plt.show()

KeyError: 'Sales'

In [43]:
plt.figure(figsize=(10, 6))
sns.barplot(x='City', y='Revenue', hue='Branch', data=city_branch_revenue, palette='muted')
plt.title('Revenue by City and Branch')
plt.xlabel('City')
plt.ylabel('Revenue')
plt.show()

NameError: name 'city_branch_revenue' is not defined